/** entreprise **/
.entreprise {
    margin-top: 10%;
    margin-bottom: 10%;

}
/**fin entreprise **/

/** slide**/
.slider {
    width: 80%;
    margin: 0 auto;
  }

  .img-div {
    width: 300px;
    height: 300px;
    margin: 0 15px;
  }

  .div1 {
    background: url("../img/1.jpg") center no-repeat;
    background-size: cover;
  }

  .div2 {
    background: url("../img/2.jpg") center no-repeat;
    background-size: cover;
  }

  .div3 {
    background: url("../img/3.jpg") center no-repeat;
    background-size: cover;
  }

  .div4 {
    background: url("../img/4.jpg") center no-repeat;
    background-size: cover;
  }
  .div5 {
    background: url("../img/5.jpg") center no-repeat;
    background-size: cover;
  }

  .div6 {
    background: url("../img/6.jpg") center no-repeat;
    background-size: cover;
  }

  .div7 {
    background: url("../img/7.jpg") center no-repeat;
    background-size: cover;
  }

  .div8 {
    background: url("../img/8.jpg") center no-repeat;
    background-size: cover;
  }
  .div9 {
    background: url("../img/9.jpg") center no-repeat;
    background-size: cover;
  }

  .div10 {
    background: url("../img/10.jpg") center no-repeat;
    background-size: cover;
  }

  .div11 {
    background: url("../img/11.jpg") center no-repeat;
    background-size: cover;
  }

  .div12 {
    background: url("../img/12.jpg") center no-repeat;
    background-size: cover;
  }
  .div13 {
    background: url("../img/13.jpg") center no-repeat;
    background-size: cover;
  }

  .div14 {
    background: url("../img/14.jpeg") center no-repeat;
    background-size: cover;
  }

  @media screen and (min-width:324px) and (max-width:1024px) {

    .slider {

        display: none;
    }
}

.photo {

    display: none;
   
}

@media screen and (min-width:324px) and (max-width:1024px) {

    .slider {

        display: none;
    }

    .photo {
        display: flex;
        height: 300px;
        width: 100%;
    }
}

/** fin slid**/

/**crea**/
.crea {
    margin-top: 10%;
    margin-bottom: 10%;

}
/** fin crea**/

.presta{
  margin-top: 10%;
    margin-bottom: 10%;
}

.card-group{ 

    margin-bottom: 10%;
}

.foot{
  margin-top: 3%;
  margin-bottom: 3%;
}

.conseil{
  margin-top: 3%;
  margin-bottom: 3%;
}
