/** entreprise **/
.entreprise {
    margin-top: 10%;
    margin-bottom: 10%;

}
/**fin entreprise **/

/** slide**/
.slider {
    width: 80%;
    margin: 0 auto;
  }

  .img-div {
    width: 300px;
    height: 300px;
    margin: 0 15px;
  }

  .div1 {
    background: url("../img/20210906_162159.jpg") center no-repeat;
    background-size: cover;
  }

  .div2 {
    background: url("../img/20211231_125044.jpg") center no-repeat;
    background-size: cover;
  }

  .div3 {
    background: url("../img/20210929_140018.jpg") center no-repeat;
    background-size: cover;
  }

  .div4 {
    background: url("../img/IMG_20210718_200258_421.jpg") center no-repeat;
    background-size: cover;
  }

  @media screen and (min-width:324px) and (max-width:1024px) {

    .slider {

        display: none;
    }
}

.photo {

    display: none;
   
}

@media screen and (min-width:324px) and (max-width:1024px) {

    .slider {

        display: none;
    }

    .photo {
        display: flex;
        height: 300px;
        width: 100%;
    }
}

/** fin slid**/

/**crea**/
.crea {
    margin-top: 50px;
    margin-bottom: 10%;

}
/** fin crea**/

