/** entreprise **/
.entreprise {
    margin-top: 10%;
    margin-bottom: 10%;

}
/**fin entreprise **/

/** slide**/
.carousel-inner{
   
height: 600px!important;
margin-top: 10%;
margin-bottom: 10%;
}
/** fin slid**/

/**crea**/
.crea {
    margin-top: 10%;
    margin-bottom: 10%;

}
/** fin crea**/