/** entreprise **/
.entreprise {
    margin-top: 10%;
    margin-bottom: 10%;

}
/**fin entreprise **/

/** slide**/
.carousel-inner{
   
height: 600px!important;
margin-top: 10%;
margin-bottom: 10%;
}
/** fin slid**/

/**crea**/
.crea {
    margin-top: 10%;
    margin-bottom: 10%;

}
/** fin crea**/
.divForm{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formish{
    font-size: 1.5em;
    display:flex;
    flex-direction: column;
    margin-bottom: 150px;
}
.titleAdmin{
    margin-bottom: 100px;
}
.buttonFormAdmin{
    color: white;
    background-color: #1A1E21;

}
.buttonFormAdmin:hover{
    background-color: #212529;
}
